#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

// #define ZMK_POINTING_DEFAULT_MOVE_VAL 1500  // default: 600
//#define ZMK_POINTING_DEFAULT_SCRL_VAL 20    // default: 10

#include <dt-bindings/zmk/pointing.h>


#define DEFAULT 0
#define BT   1

&msc {
    x-input-code = <INPUT_REL_HWHEEL>;
    y-input-code = <INPUT_REL_WHEEL>;
    time-to-max-speed-ms = <300>;
    acceleration-exponent = <0>;
};

/ {
    combos {
        compatible = "zmk,combos";
        combo_studio {
            timeout-ms = <50>;
            key-positions = <5 6>;
            bindings = <&studio_unlock>;
        };
    };

    macros {
        swipe_up: swipe_up {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&mkp MOUSE_MOVE(0 -10)>
                , <&mkp MOUSE_BTN1>
                ;
        };
    };


    keymap: keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <    
                            &trans
                            &swipe_up   //Rotary SW
                            &trans     //ScrollDwn (RotaryB)
                            &trans     //ScrollUp (RotaryA)
                            &mo BT     //Momentary Layer
                            &kp C_VOLUME_DOWN    //Vol Down
                            &kp C_VOLUME_UP  //Vol Up
                        >;

        };
        BT_layer {
            bindings = <    
                            &trans
                            &bt BT_CLR    //Unpair
                            &trans     //PgDn
                            &trans     //PgUp
                            &mo BT     //Momentary Layer
                            &bt BT_SEL 2     //Device 2
                            &bt BT_SEL 1  //Device 1
                        >; 

        };
    };
};